config TOUCHSCREEN_GOODIX
	tristate "gt9xx based touchscreens"
	depends on I2C
	help
	  Say Y here if you have a gt9xx based touchscreen
	  controller.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called gt9xx.


