
config SPRD_CAMERA_ISP_G2V1
    bool "Spreadtrum Camera ISP G2V1"
    depends on SPRD_CAMERA
    help
        This is a isp g2v1 driver for Spreadtrum SOCs.

config SPRD_CAMERA_ISP1P0
    bool "Spreadtrum Camera ISP1P0"
    depends on SPRD_CAMERA
    help
        This is a isp 1.0 driver for Spreadtrum SOCs.

config SPRD_CAMERA_ISP_R6P91
    bool "Spreadtrum Camera ISP_R6P91"
    depends on SPRD_CAMERA
    help
        This is ISP_R6P91 driver for Spreadtrum SOCs
        and pike2, if you want to use this config,
        please to read spec and driver code,
        they can help you to use r6p91 driver

config SPRD_CAMERA_ISP_G2V3
    bool "Spreadtrum Camera ISPG2V3"
    depends on SPRD_CAMERA
    help
        This is a iwhale2 isp driver for Spreadtrum SOCs.

config SPRD_CAMERA_ISP_R6P11
    bool "Spreadtrum Camera ISP R6P11"
    depends on SPRD_CAMERA
    help
        This is ISP R6P11 driver for Spreadtrum SOCs.
